.header {
  background-color: #fff;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.048);

  a {
    color: #333;
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;

    &:hover {
      color: #7f7f7f;
    }

    .logo {
      height: 100px;
    }
  }
}