<div class="container d-flex justify-content-center align-items-center">
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/HuevosRevueltos.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Huevos Revueltos</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/panqueques.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Panqueques</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/desa.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Panqueques Mix</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/TostadasAguacate.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Tostadas Aguacate</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/TostadasJamon.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Tostadas Jamón</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/SandwichQueso.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Sandwich Queso</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/SandwichVerduras.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Sandwich Verduras</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/waffles.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Waffles</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/brunch/pan.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Tostadas Francesas</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
</div>