<div class="container d-flex justify-content-center align-items-center">
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/alitasNaranja.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Alitas a la naranja</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/BaoVegies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Bao Veggie</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/HamburguesaPapas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Hamburguesa de res</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/HamburguesaPollo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Hamburguesa de pollo</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/HamburguesaPolloApanado.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Hamburguesa de pollo apanado</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/PapasFrancesas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Papas a la francesa</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/PizzaAlbahaca.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Pizza</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/SandwichJamonJalapeños.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Sandwich de jamón y jalapeños</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/SandwichPollo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Sandwich de pollo</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/SandwichRes.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Sandwich de res</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/SandwichSalmon.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Sandwich de salmón</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/fastFood/SandwichTocineta.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Sandwich de tocineta</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
</div>
