<app-header></app-header>
<div *ngIf="showHome">
  <app-home></app-home>
</div>
<div *ngIf="showBrunch">
  <app-brunch></app-brunch>
</div>
<div *ngIf="showDesserts">
  <app-desserts></app-desserts>
</div>
<div *ngIf="showFastFood">
  <app-fast-food></app-fast-food>
</div>
<div *ngIf="showRestaurant">
  <app-restaurant></app-restaurant>
</div>
<div *ngIf="showLogin">
  <app-login></app-login>
</div>
<div *ngIf="showChangePassword">
  <app-change-password></app-change-password>
</div>
<div *ngIf="showProducts">
  <app-list-of-products></app-list-of-products>
</div>
<div *ngIf="showContact">
  <app-contact></app-contact>
</div>
<app-footer></app-footer>