<div class="container d-flex justify-content-center align-items-center">
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/BistecChampiñones.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Bistec acompañamiento de champiñones</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/BowlCamarones.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Bowl de camarones</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/carpaccioRes.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Carpaccio de res</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/CostillaRes.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Costilla de res</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/ensaldaPescado.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Ensalada de pescado</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/EspaguetiChuleta.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Chuleta de cerdo con espaguetis</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/EspaguetiLangostinos.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Espagueti con langostinos</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/pasta.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Pasta</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/PastaAlbondigasPollo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Espagueti con albondiga de pollo</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/PolloNaranja.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Pollo a la naranja</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/polloParrilla.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Pollo a la parrilla</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/restaurant/TruchaVerduras.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Trucha con verduras</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
</div>
