<div class="container d-flex justify-content-center align-items-center">
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/Brownie.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Brownie</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/BurbujaChocolate.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Burbuja de chocolate</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/FresasCrema.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Fresas con crema</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/muffinChocolate.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Muffin de chocolate</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/MuffinLimon.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Muffin de limón</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/MusseChocolate.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Musse de chocolate</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/ParfaitArandanos.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Parfait</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/Smoothie.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Smoothie</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/TortaCafeChocolate.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Torta de café y chocolate</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/TortaChocolate.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Torta de chocolate</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/TortaTresLeches.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Torta tres leches frutos rojos</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../../assets/list-of-products/desserts/WaffleHelado.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Waffle con helado</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
</div>